/* -- Drino - Personal Project (DevMountain) [ 8/6/19 7:18pm ] -- */

@import './variables.scss';

@font-face {
  font-family: 'Arvo';
  src: url(../fonts/Arvo/Arvo-Regular.ttf)
}

@font-face {
  font-family: 'Rosario';
  src: url(../fonts/Rosario/Rosario-Regular.ttf)
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
  font-family: 'RobotoLte';
  src: url(../fonts/Roboto/Roboto-Light.ttf)
}

@font-face {
  font-family: 'Questrial';
  src: url(../fonts/Questrial/Questrial-Regular.ttf)
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins/Poppins-Light.ttf)
}

@font-face {
  font-family: 'PoppinsLTE';
  src: url(../fonts/Poppins/Poppins-ExtraLight.ttf)
}
@font-face {
  font-family: 'PoppinsBOLD';
  src: url(../fonts/Poppins/Poppins-Medium.ttf)
}

html {
  min-height: 100%;
}

a, a:hover, a::after {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
}

button:focus, input:focus {
  outline:0;
}

.btn:focus {
  box-shadow: none;
}

// ::-webkit-scrollbar {
//   width: 18px;
//   height: 18px;
// }

// ::-webkit-scrollbar-thumb {
//   height: 6px;
//   border: 3px solid rgba(0, 0, 0, 0);
//   background-clip: padding-box;
//   border-radius: 20px;
//   background-color: rgba(0, 0, 0, 0.3);
//   box-shadow: 
//     inset -1px -1px 0px rgba(0, 0, 0, 0.05), 
//     inset 1px 1px 0px rgba(0, 0, 0, 0.05);
// }

// ::-webkit-scrollbar-track {
//   display: none;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background-color: rgba(0, 0, 0, 0.45);
// }

// ::-webkit-scrollbar-button {
//   width: 0;
//   height: 0;
//   display: none;
// }
// ::-webkit-scrollbar-corner {
//   display: none;
// }

.nav-link:focus {
  outline: none !important;
  outline-offset: none !important;
}

body {
  font-size: 17px;
  background-color: #f1f1f1;
}

.blue {
  color: #3794D8;
}
.dark-blue {
  color: #3A66D4;
}
.green {
  color: #6AD837;
}
.dark-green {
  color: #4CAA50;
}
.yellow {
  color: #E5BE31;
}
.dark-yellow {
  color: #CD9E26;
}
.red {
  color: #D83737;
}
.dark-red {
  color: #B52424;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// } 
// 

.fw-iframe {
  height: 430px;
}
.display-none {
  display: none;
}
.news-wrap {
  width: 650px;
  height: 400px;
}
.devlog {
  position: absolute;
  left: 26px;
  bottom: 26px;
  padding: 1px 5px;
}
@media (max-width: 414px) {
  .news-wrap {
    width: 100%;
  }
}