/* -- Drino - Personal Project (DevMountain) [ 8/6/19 7:18pm ] -- */

@import './variables.scss';

@font-face {
  font-family: 'Rosario';
  src: url(../fonts/Rosario/Rosario-Regular.ttf)
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
  font-family: 'RobotoLte';
  src: url(../fonts/Roboto/Roboto-Light.ttf)
}

// DON'T FORGET ABOUT THIS!!!
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

button:focus, input:focus {
  outline:0;
}

::-webkit-scrollbar {
  width: 24px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 
    inset -1px -1px 0px rgba(0, 0, 0, 0.05), 
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}

html {
  min-height: 100%;
}

a, a::after {
  text-decoration: none;
}

.drino {
}

.box {
  height: 5311px;
}

.flex-box {
  background-color:yellow;
  flex: 1;
}

body {
  font-size: 17px;
  background-color: #f1f1f1;
  main {
    overflow: overlay;
    justify-content: center;
    color: $off-white;
    height: calc(100vh - 90px);
    .container { 
      position: relative;
      background: #373A44 url("../images/background.png");
      background-size: cover;
      width: 100%;
      // Tried putting background in container but bottom is cut off.
    }
    footer {
      position: absolute;
      background-color: #29313C;
      height: 600px;
      width: 100%;
    }
  }
  input {
    padding: 8px;
  }
  button {
    border: none;
  }
}



// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// } 
// 