@import "./variables.scss";
@import "./mixins.scss";

.contact-container {
  position: relative;
  background-color: #323846;
  background-image: url(../images/footer_lodyas-faded.png);
  .contact-wrap {
    @include flex(column, center, center);
    .contact-form {
      @include flex(column, center, center);
      padding: 6vmin 0;
      color: #f1f1f1;
      width: 65vmin;
      .jumbotron {
        @include flex(column, center, center);
        background-color: #1e242c8a;
        position: relative;
        width: 100%;
        border-radius: 8px;
        padding: 2.5rem 2rem;
      }
    }
  }
}
