@import './variables.scss';
@import './mixins.scss';

h1 {
  font-size: 2.3rem;
  color: #f1f1f1;
}
.contact-page {
  overflow-x: hidden;
  background-color: #323846;
  background-image: url(../images/footer_lodyas-faded.png);
  height: 100vh;
  .contact-wrap {
    @include flex(column, center, center);
    margin-top: 6vmin;
    .jumbotron {
      @include flex(column, center, center);
      position: relative;
      margin-top: 2vmin;
      padding: 2rem;
      background-color: #1d202791;
      border-radius: 8px;
      min-width: 65vmin;
    }
  }
  input[type] {
    color: #b4b4b4;
    font-size: large;  
  }
  input[type]:hover, input[type]:focus {
    background-color: #20252c;
  }
  input[type]:focus {
    font-size: large;  
    color: #ebebeb;
  }
  textarea {
    color: #b4b4b4;
  }
  textarea:hover {
    background-color: #20252c;
  }
  textarea:focus {
    color: #ebebeb;
  }
  .form-input {
    height: 48px;
  }
  .form-control::placeholder {
    font-size: 1.12rem;
  }
  .form {
    width: 100%;
    color: #f5f5f5;
  }
  .form-control {
    padding: 0.7rem 0.8rem;
    background-color: #1f242b;
    border: 0;
    border-left: 2px solid $green;
  }
  .form-control:focus {
    border-color: #272f36;
    background-color: #1f242b;
    box-shadow: 0 0 0 0.2rem #3c974048;
  }
  .form-group {
    margin-bottom: 1.8rem;
    position: relative;
    .minimum, .message-length {
      position: absolute;
      color: #f1f1f1;
      opacity: 0.3;
      bottom: -32px;
    }
    .minimum {
      left: 10px;
    }
    .message-length {
      right: 10px;
    }
    .red-text {
      color: red;
      opacity: 1;
    }
  }
  .form-row {
    margin: 0 -16px 1.8rem;
  }
  .form-row > .col {
    padding: 0 16px 0;
  }
  .form-text {
    font-size: 1.12rem;
    min-height: 15vh;
    max-height: 42vh;
  }
  .submit-btn {
    font-size: 1.12rem;
    padding: 0.5rem 1.4rem;
    background-color: $green;
    border: 0;
  }
  .submit-btn:hover {
    background-color: $dark-green;
  }
  .submit-btn:focus {
    background-color: $dark-green;
    box-shadow: 0 0 0 0.2rem #3fb64548;
    border: 0;
  }
  .submit-btn:active {
    background-color: $dark-green !important;
    box-shadow: 0 0 0 0.2rem #3fb64548 !important;
    border-color: #272f36;
  }
  .disabled, .disabled:hover, .disabled:focus, .disabled:active {
    background-color: gray !important;
    box-shadow: none !important;
    cursor: not-allowed;
  }
}