@import './variables.scss';

.dashboard {
  position: relative;
  background-color: #F1F1F1;
}

.dash-body {
  text-align: justify;
  position: absolute;
  overflow: auto scroll;
  top: 90px;
  left: 264px;
  width: calc(100vw - 264px);
  max-height: calc(100vh - 90px);
}

.dash-section {
  font-size: 20px;
  margin: 50px 50px
}

.status-card-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  .status-card {
    position: relative;
    font-family: 'Questrial';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #F5F5F5;
    padding: 20px 30px;
    height: 160px;
    width: 350px;
    border-radius: 3px;
    .number {
      font-size: 44px;
    }
    .label {
      font-size: 16px;
      font-weight: 200;
    }
    .fas {
      color: #0000001f;
      position: absolute;
      top: 30px;
      right: 20px;
      font-size: 70px;
    }
    hr {
      margin: 5px 0;
      border-bottom: 1px;
      width: 100%;
    }
    .date {
      font-size: 14px;
      color: rgba(245, 245, 245, 0.61);
    }
  }  
  .red {
    color: #D83737;
    background-color: #D83737;
    border: 1px solid #B52424;
  }
  .blue {
    background-color: #3794D8;
    border: 1px solid #3A66D4;
  }
  .green {
    background-color: #6AD837;
    border: 1px solid #4CAA50;
  }
  .yellow {
    background-color: #E5BE31;
    border: 1px solid #CD9E26;
  }
}


.charts-wrap {

  .line-chart {
    background-color: #FFF;
    padding: 20px 40px 25px;
    width: $line-chart-size;
    height: calc($line-chart-size * .33);
    border: 1px solid #D6D6D6;
    border-radius: 3px;
  }
}
