@import './variables.scss';

.dashboard {
  position: relative;
  background-color: #F1F1F1;
}

.maps {
  width: calc(100vw - 265px);
  height: calc(100vh - 80px)
}

.dash-body, .dash-wrap {
  text-align: justify;
  position: absolute;
  overflow: auto scroll;
  top: 80px;
  left: 265px;
  width: calc(100vw - 265px);
  height: calc(100vh - 80px);
}

.dash-wrap {
  overflow: hidden;
}

.dash-section {
  font-size: 20px;
  margin: 34px 28px 48px;
}
.alert {
  margin-bottom: 26px;
  padding: 1.3rem 1.6rem;
  .h4 {
    font-size: 35px;
  }
  .welcome-text {
    font-size: 16px;
  }
}

.status-card-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  .status-card {
    position: relative;
    font-family: 'Questrial';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #F5F5F5;
    padding: 20px 30px;
    height: 160px;
    width: 370px;
    border-radius: 3px;
    .number {
      font-size: 44px;
    }
    .label {
      font-size: 16px;
      font-weight: 200;
    }
    .fas {
      color: #0000001f;
      position: absolute;
      top: 30px;
      right: 20px;
      font-size: 70px;
    }
    hr {
      margin: 5px 0;
      border-bottom: 1px;
      width: 100%;
    }
    .date {
      font-size: 14px;
      color: rgba(245, 245, 245, 0.61);
    }
  }  
  .red {
    background-color: #D83737;
    border: 1px solid #B52424;
  }
  .blue {
    background-color: #3794D8;
    border: 1px solid #3A66D4;
  }
  .green {
    background-color: #6AD837;
    border: 1px solid #4CAA50;
  }
  .yellow {
    background-color: #E5BE31;
    border: 1px solid #CD9E26;
  }
}


.charts-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px; 
  .line-chart {
    width: calc(67vw - 264px);
    padding: 20px 30px 24px;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    background-color: #FFF;
  }
  .doughnut-chart {
    width: calc(41vw - 264px);
    padding: 20px 26px 22px;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    background-color: #FFF;
  }
}

@media (max-width: 412px) {
  .dash-body, .dash-wrap {
    font-size: 1em;
    text-align: justify;
    position: absolute;
    overflow: auto scroll;
    top: 80px;
    left: 0px;
    width: 100vw;
    height: 100vh;
  }
  .dash-section {
    font-size: 1.5em;
    margin: 16px;
  }
  .h4 {
    font-size: 18px;
  }
  .status-card-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .status-card {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  .alert {
    margin-bottom: 1rem;
    padding: 1.1rem 1.3rem;
    .close {
      display: none;
    }
    .h4 {
      font-size: 24px;
    }
    .welcome-text {
      font-size: 13px;
    }
  }
}