@import './variables.scss';

.nav-img {
  height: 52px;
  width: 52px;
}

.navbar {
  font-family: 'robotoLte';
  display: flex;
  height: 80px;
  color: $off-white;
  background-color: #29313C;

  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;

    .logo-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 142px;
      .logo-name {
        color: $off-white;
        font-size: 32px;
        font-family: 'Rosario';
        font-style: italic;
        margin-left: 4px;
      }
    }

    .nav-link-wrap {
      display: flex;
      justify-content: space-between;
      width: 520px;

      .nav-link {
        color: $off-white;
        text-decoration: none;
        font-size: 19px;
        height: 22px;
        padding: 0 10px;
        margin: 2px 0 8px;
      }
    }
  }
}

@media (max-width: 412px) {
  .navbar {
    .nav-container {
      .nav-link-wrap {
        display: none;
      }
    }
  }
}