@import './variables.scss';

.drino-container { 
  background: #373A44 url("../images/background.png");
  background-size: cover;
  position: relative;
  width: 100%;
  // Tried putting background in container but bottom is cut off.
}

.drino {
  main {
    overflow: overlay;
    justify-content: center;
    color: $off-white;
    height: calc(100vh - 70px);
    footer {
      position: absolute;
      background-color: #29313C;
      height: 600px;
      width: 100%;
    }
  }
  input {
    padding: 8px;
  }
  button {
    border: none;
  }
}

.sect1-wrap {
  
}

.sect1-logo-wrap {
  top: 80px;
  left: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 410px;
}

.sect1-logo {
  width: 180px;
  height: 180px;
  border-radius: 500px;
  box-shadow: 8px 6px 14px rgba(0, 0, 0, 0.2);
}

.sect1-logo-name {
  font-family: 'Rosario';
  font-style: italic;
  font-weight: 600;
  font-size: 80px;
  text-shadow: 8px 6px 14px rgba(0, 0, 0, 0.2);
}

.sect1-subtext {
  font-size: 2.3vw;
  font-weight: 400;
  top: 350px;
  left: 180px;
  width: 650px;
}

.sect1-text {
  font-size: 2vw;
  font-weight: 300;
  top: 410px;
  left: 80px;
  width: 700px;
}

.sect1-name {
  font-size: 2vw;
  font-weight: 300;
  top: 570px;
  left: 650px;
  width: 300px;
}