@import './variables.scss';
@import './mixins.scss';


.drino-container {
  background-size: cover;
  position: relative;
  .drino-wrap {
    z-index: 0;
    background-color: #323846;
    background-image: url(../images/footer_lodyas-faded.png);
    height: 100%;
  }
  .stripe1, .stripe2, .stripe3 {
    z-index: 0;
    position: absolute;
    width: 100%;
  }
  .stripe1 {
    top: 0;
    height: 280vw;
    clip-path: polygon(44.2% 0%, 44% 0%, 100% 46%, 100% 42%);
    background-color: $green;
  }
  .stripe2 {
    top: 330vh;
    height: 50vw;
    clip-path: polygon(0% 58%, 0% 41%, 100% 100%, 100% 100%);
    background-color: $green;
  }
  .stripe3 {
    bottom: 0;
    height: 30vw;
    clip-path: polygon(100% 65%, 45% 100%, 100% 100%, 100% 0%);
    background-color: $green;
  }
  .drino-photo {
    z-index: 0;
    clip-path: polygon(16.5% 0%, 52% 100%, 100% 100%, 100% 0%);
    position: absolute;
    right: 0;
    height: 50vw;
  }
}

.drino {
  /* width */
  ::-webkit-scrollbar {
    width: 11px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #29313C; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #69748370;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #62667cb4; 
  }
  background-color: #323846;
  background-image: url(../images/footer_lodyas-faded.png);
  main {
    overflow: overlay;
    justify-content: center;
    color: $off-white;
    height: calc(100vh - 80px);
    font-family: 'Poppins';
  }
  input {
    padding: 8px;
  }
  button {
    border: none;
  }
}

.sect1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 84vw;
  padding: 5vw 0 7vw 4.5vw;
  .logo-wrap {
    display: flex;
    align-items: center;
    width: fit-content;
    .logo {
      width: 8vw;
      height: 8vw;
      border-radius: 500px;
      box-shadow: 8px 6px 14px rgba(0, 0, 0, 0.2);
    }
    .logo-name {
      font-family: 'Rosario';
      font-style: italic;
      font-weight: 600;
      font-size: 4vw;
      color: $off-white;
      text-shadow: 8px 6px 14px rgba(0, 0, 0, 0.25);
      margin: 3vw;
    }
  }
  .subtext {
    font-size: 2vw;
    font-weight: 400;
    width: 31vw;
    margin: 4vw 2vw 0; 
  }
  .text {
    font-size: 1.7vw;
    font-weight: 300;
    width: 35vw;
    margin: 3vw 0 0 3.5vw;
  }
  .name {
    font-size: 1.7vw;
    font-weight: 300;
    width: 13vw;
    margin: 1vw 30vw 0;
  }
}
.sect2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vw;
  z-index: 2;
  .sect2-wrap {
    text-align: center;
  }
  .mobile-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sect2-img1, .sect2-img2 {
    z-index: 2;
    height: 30vw;
    width: auto;
    -webkit-filter: drop-shadow(5px 5px 10px #222);
    filter: drop-shadow(5px 5px 10px #222);
  }
  .sect2-text {
    box-sizing: border-box;
    z-index: 2;
    padding-top: 50px;
    width: 100%;
    font-size: 1.8rem;
  }
}
.sect3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .group {
    z-index: 2;
    margin: 0 50px;
  }
  .item-feature__icon {
    display: flex;
    justify-content: center; 
    font-size: 75px;
    color: $green;
  }
  .header {
    display: flex;
    justify-content: center; 
    font-size: 34px;
    font-weight: 600;
    margin: 14px;
  }
  .text {
    font-size: 25px;
    width: 350px;
    text-align: center;
  }
}
.sect4{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .group {
    display: flex;
    justify-content: center;
    font-size: 24px;
    .wrap1, .wrap2 {
      width: 350px;
      padding: 35px;
      margin: 0 30px;
      z-index: 1;
      ul {
        list-style: none;
      }
      ul li::before {
        content: "\2022";
        color: $green;
        font-weight: 900;
        font-size: 32px;
        display: inline-block; 
        width: 0.8em;
        line-height: 1.3em;
        margin-left: -1.1em;
      }
      .price {
        font-size: 58px;
        font-family: 'PoppinsBOLD';
        margin: 20px 0;
        .per {
          font-size: 20px;
          font-family: 'PoppinsLTE'
        }
      }
      .btn {
        font-size: 24px;
        text-transform: uppercase;
        padding: 12px;
        margin-top: 20px;
        width: 100%;
        box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.25);
      }
    }
    .wrap1 {
      .btn {
        background-color: $green;
      }
      .btn:hover {
        background-color: $dark-green;
      }
    }
    .wrap2 {
      border-radius: 8px;
      background-color: $green;
      box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.25);
      .btn {
        background-color: #373a44;
      }
      .btn:hover {
        background-color: #30323b;
      }
      ul li::before {
        content: "\2022";
        color: $off-white;
      }
    }
  }
}
.sect5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130vh;
  margin-top: 80px;
  .group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2vmin;
    img {
      -webkit-filter: drop-shadow(5px 5px 14px #222);
      filter: drop-shadow(5px 5px 14px #222);
      height: 62vmin;
    }
    .text {
      margin-left: 40px; 
      .brand {
        font-size: 4vmin;
      }
      .model {
        font-size: 7.5vmin;
        font-family: 'PoppinsBOLD';
      }
      .specs {
        font-size: 3vmin;
        font-family: 'PoppinsLTE'
      }
    }
  }
  .btn {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 12px 44px;
    background-color: $green;
    border-radius: 50px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
  }
  .btn:hover {
    background-color: $dark-green;
  }
}

@media (max-width: 1350px) {
  .sect2-wrap {
    width: 80vmin;
    .sect2-img1, .sect2-img2 {
      height: 35vw;
    }
    .sect2-text {
      text-align: center;
      font-size: 1.5rem;
    }
  }
  .sect3 {
    margin: 10rem 0;
    height: 100%;
    flex-direction: column;
    .group {
      margin-bottom: 10rem;
    }
  }
  .sect4 {
    height: 200vh;
    .group {
      flex-direction: column;
      .wrap1, .wrap2 {
        margin-bottom: 8vh;
      }
    }
  }
}

@media (max-width: 900px) {
  .sect2 {
    margin: 10rem 0;
  }
  .sect2-wrap {
    .sect2-img1 {
      height: 65vmin;
    }
    .sect2-img2 {
      display: none;
    }
    .sect2-text {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 650px) {
  .drino-container {
    .stripe1 {
      display: none;
    }
    .stripe2 {
      top: 400vw;
      clip-path: polygon(0% 68%, 0% 41%, 100% 100%, 100% 100%);
    }
  }
  .drino-photo {
    display: none;
  }
  .sect1 {
    margin: 5vmin 0 0 5vmin;
    .sect1-wrap {
      width: 80vw;
    }
    .logo-wrap {
      .logo {
        width: 20vw;
        height: auto;
      }
      .logo-name {
        font-size: 10vw;
      }
    }
    .subtext {
      font-size: 5.3vw;
      margin: 6vw 0;
      width: fit-content;
    }
    .text {
      box-sizing: border-box;
      font-size: 3.95vw;
      width: fit-content;
      margin: 5vw 0;
    }
    .name {
      font-size: 3.75vw;
      width: fit-content;
      float: right;
      margin: 0;
    }
  }
  // Copied (remove uneeded code)
  .sect5 {
    height: 130vh;
    .group {
      flex-direction: column;
      img {
        height: 82vmin;
      }
      .text {
        margin: 5vw 0;
      }
    }
    .btn {
      font-size: 30px;
      text-transform: uppercase;
      margin-top: 20px;
      padding: 12px 44px;
      background-color: $green;
      border-radius: 50px;
      box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    }
    .btn:hover {
      background-color: $dark-green;
    }
  }
  // End copied
}