@import './variables.scss';

.employee-profile {
  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  
  .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
  }
  .dropdown-menu {
    bottom: 100%;
    top: unset;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .profile-wrap {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .info-wrap {
      margin-left: 24px;
      max-width: 796px;
    }
    .card-btn-wrap {
      .add-btn {
        padding: 10px;
        margin-top: 22px;
        font-size: 21px;
        width: 100%;
        background-color: $green;
        .fa-plus {
          font-size: 18px;
        }
      }
    }
    .status-card-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 26px;
      .status-card {
        position: relative;
        font-family: 'Questrial';
        display: flex;
        justify-content: space-between;
        color: #F5F5F5;
        padding: 20px 30px;
        height: 160px;
        width: 385px;
        border-radius: 3px;
        .number {
          font-size: 44px;
        }
        .label {
          font-size: 16px;
          font-weight: 200;
        }
        .fas {
          color: #0000001f;
          position: absolute;
          top: 30px;
          right: 20px;
          font-size: 70px;
        }
        hr {
          margin: 5px 0;
          border-bottom: 1px;
          width: 100%;
        }
        .date {
          font-size: 14px;
          color: rgba(245, 245, 245, 0.61);
        }
      }  
      .red {
        background-color: #D83737;
        border: 1px solid #B52424;
      }
      .blue {
        background-color: #3794D8;
        border: 1px solid #3A66D4;
      }
      .green {
        background-color: #6AD837;
        border: 1px solid #4CAA50;
      }
      .yellow {
        background-color: #E5BE31;
        border: 1px solid #CD9E26;
      }
    }
    .table {
      background-color: #fff;
      border-radius: 3px;
      overflow: scroll auto;
      margin: 0px;
      width: 100%;
    }
    .table td, .table th {
      padding: .5rem;
    }
  }
}