@import './variables.scss';

.header-nav {
  font-family: 'robotoLte';
  display: flex;
}
.dashboard {
  .navbar {
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    height: 70px;
    color: #454545;
    background-color: #fff;
    width: 100%;
    padding: 9px 14px;
  }
}

.nav-img {
  border-radius: 30px;
}
.logo-wrap {
  display: flex;
  width: 160px;
  .logo-name {
    color: #454545;
    font-size: 32px;
    font-family: 'Rosario';
    font-style: italic;
    margin-left: 16px;
  }
}

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .header-right-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    .nav-link {
      color: #454545;
      text-decoration: none;
      font-size: 19px;
      height: 22px;
      padding: 0 10px;
      height: 27px;
      border: none;
    }
    .nav-link:hover {
      background-color: transparent;
      color: #454545;
      text-decoration: none;
      font-size: 19px;
      height: 22px;
      padding: 0 10px;
      height: 27px;
      border: none;
    }
    .nav-img {
      width: 56px;
      height: 56px;
      border-radius: 40px;
    }
  }
}


.header-right-wrap {
  display: flex;
  width: 142px;
}

.mr-auto {
  display: none;
}

@media (max-width: 414px) {
  .navbar{
    padding: 9px 14px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #c5c5c5;
  }
  .navbar-light .navbar-nav .show.nav-link {
    color: #c5c5c5;
  }
  .navbar-nav {
    padding: 10px 0 0;
  }
  .navbar-toggler {
    padding: 10px 16px;
    margin-right: -8px;
    border: none;
  }
  .navbar-nav .nav-link {
    padding: 16px 26px;
    color: #c5c5c5;
    text-decoration: none;
    font-size: 19px;
    padding: 18px 31px;
    border: none;
    .fas, .far {
      color: #c5c5c5;
      justify-content: center;
      width: 31px;
    }
  }
  .mr-auto {
    display: block;
  }
  .navbar-collapse{
    display: block;
    background-color: #272c36;
    border-radius: 3px;
    margin-top: 4px; 
    position: relative;
    .icon-pages-wrap {
      position: relative;
      padding-left: 31px;
      .fas.fa-file-alt {
        position: absolute;
        top: 22px;
        left: 35px;
        color: #c5c5c5;
        justify-content: center;
        width: 31px;
      }
    }
    .header-right-wrap {
      display: block;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      .nav-link {
        width: 100%;
        color: #c5c5c5;
        font-size: 19px;
        height: 64px;
        padding: 16px 26px;
        border: none;
      }
      .nav-link {
        color: #c5c5c5;
        font-size: 19px;
        height: 64px;
        padding: 16px 31px;
        margin-bottom: 6px;
        border: none;
        .fas, .far {
          color: #c5c5c5;
          justify-content: center;
          width: 31px;
        }
      }
      .nav-img {
        width: 56px;
        height: 56px;
        border-radius: 40px;
      }
    }
  }
  .dropdown-menu>.dropdown-item {
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #c5c5c5;
    padding: 14px 24px;
    .fas, .far {
      z-index: 5;
      color: #c5c5c5;
      justify-content: center;
      width: 31px;
    }
  }
  .dropdown-menu.show {
    background-color: #272c36;
    border: 0;
    margin: 0px 0 0 0px;
    width: 100%;
    padding: 0;
  }
  .navbar-light .navbar-nav .nav-link:focus, 
  .navbar-light .navbar-nav .nav-link:hover {
    color: #c5c5c5;
    background-color: #272c36;
  }
  
  .link-text {
    height: 24px;
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav 
  .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light 
  .navbar-nav .show>.nav-link {
    color: #c5c5c5;
  }
  .navbar-light .navbar-nav .navbar-light .navbar-nav {
    color: #c5c5c5;
  } 
  .header-right-wrap > .nav-img {
    display: none;
  }
}