@import './variables.scss';
.accordion {
  .card {
    flex-direction: row;
    align-items: center;
    background-color: #f7f7f7;
    .card-header {
      cursor: pointer;
      background-color: rgba(0,0,0,0);
      border-bottom: 1px solid rgba(0,0,0,0);
      padding-left: 0;
      margin-left: 53px;
    }
    .card-wrap {
      width: 100%;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      cursor: pointer;
      border-radius: 3px;
      top: 16px;
      left: 16px;
      width: 22.5px;
      height: 22.5px;
      margin: 0;
      .form-check {
        margin: 0;
        padding: 0;
        .form-check-input {
          cursor: pointer;
          width: 13.5px;
          height: 13.5px;
          margin: 0;
        }
      }
    }
    label:hover {
      background-color: rgba(0, 98, 226, 0.125);
    }
  }
}
.select-all {
  margin: 20px 0 0 340px;
}
.messages-count {
  font-size: 1.4rem;
  margin: 6px 0 12px 22px;
}
.messages-wrap {
  font-family: 'Rosario';
  overflow: auto;
  width: 1000px;
  margin-left: 15px;
  min-height: 425px;
  height: 655px;
  background-color: white;
  border-radius: 4px;
  resize: vertical;
  .no-messages {
    text-align: center;
    margin-top: 30px;
  }
  .message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name-email {
      display: flex;
      .name {
        font-size: 20px;
        width: 320px;
      }
      .email {
        font-size: 18px;
        text-align: center;
      }
    }
    .time {
      color: #999999;
      font-size: 15px;
      margin-left: 16px;
    }
  }
  .card-body {
    background-color: #fff;
    padding: 26px;
    font-size: 18px;
  }
  .btn-wrap {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
  }
  .accordion .btn {
    font-size: 18px;
    display: inline;
    padding: 6px 40px;
  }
}
.messages-component-wrap {
  display: flex;
  justify-content: space-between;
  width: 1330px;
  border-radius: 5px;
  .editor-messages {
    display: flex;
    flex-direction: column;
    .text-editor {
      display: none;
      position: relative;
      font-size: 18px;
      line-height: 20px;
      width: 1000px;
      min-height: 265px;
      margin-bottom: 64px;
      background-color: #fff;
      border-radius: 4px;
      .toolbar {
        height: 80px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      .editor {
        padding: 0 25px 10px;
        resize: vertical;
        overflow: auto;
        overflow-x: hidden;
        min-height: 265px;
      }
      .send-btn, .cancel-btn {
        position: absolute;
        padding: 6px 30px;
        bottom: -48px;
      }
      .send-btn {
        left: 8px;
      }
      .cancel-btn {
        right: 8px;
      }
      .DraftEditor-root {
        height: 230px;
        .public-DraftStyleDefault-ltr {
          line-height: 24px;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .messages-wrap {
    width: 380px;
    min-height: 425px;
    height: 660px;
    .message-header {
      .name-email {
        .name {
          font-size: 20px;
          width: 220px;
        }
        .email {
          display: none;
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }
  .messages-component-wrap {
    flex-direction: column;
    width: 414px;
  }
}