@import './variables.scss';

.nav-img {
  height: 63px;
  width: 63px;
}

.navbar {
  font-family: 'robotoLte';
  display: flex;
  height: 90px;
  color: $off-white;
  background-color: #29313C;
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    .logo-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo-name {
        color: $off-white;
        font-size: 33px;
        font-family: 'Rosario';
        font-style: italic;
        margin-left: 16px;
      }
    }
    .nav-link-wrap {
      display: flex;
      justify-content: space-between;
      width: 520px;
      .nav-link {
        color: $off-white;
        text-decoration: none;
        font-size: 19px;
        height: 22px;
        padding: 0 10px;
      }
    }
  }
}