@import './variables.scss';
@import './mixins.scss';

.reg-container {
  position: relative;
  .reg-wrap {
    @include flex(column, center, center);
    .reg-form {
      @include flex(column, center, center);
      padding: 6vmin 0 12vh;
      color: #f1f1f1;
      min-width: 500px;
      width: 68vmin;
      .jumbotron {
        background-color: #1e242c8a;
        position: relative;
        width: 100%;
        border-radius: 8px;
        padding: 2.5rem 2rem;
        .option {
          margin: 26px 0 40px;
        }
        .submit-button {
          text-align: center;
          width: 100%;
        }
        .btn-success {
          font-size: 1.1rem;
          padding: 8px 16px;
        }
      }
    }
  }
  .img-url-wrap {
    display: flex;
    position: relative;
    align-items: center;
    .img-url {
      margin: 0 15px 1.8rem;
      width: calc(100% - 140px);
    }
    .img-filler {
      box-sizing: border-box;
      width: 85px;
      height: 85px;
      background: url('https://www.metatube.com/assets/metatube/video/img/Upload.svg') no-repeat center;
      background-color: #1f242b;
      background-size: 40px 40px;
      border-radius: 50px;
      border: 4.5px dashed #d1d1d1;
    }
    .img-div {
      margin:  0 .35rem 1.8rem 1.1rem;
      width: 85px;
      height: 85px;
    }
    img {
      width: auto;
      height: 85px;
      border-radius: 50px;
      object-fit: contain;
    }
    .invalid {
      position: absolute;
      top: 18px;
      left: 34px;
      margin-bottom: 26px;
      color: red;
      text-align: center;
    }
  }
  .pass-warn {
    position: relative;
    color: red;
    left: 30px;
    top: -15px;
  }
}

@media (max-width: 536px) {
  .reg-container {
    .reg-wrap {
      .reg-form {
        width: 110vmin;
      }
    }
  } 
}